._acum {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #dbdbdb;
}

._acun {
  display: flex;
  align-items: center;
}

._a6hd img {
  width: 103px;
  height: 29px;
}

._acuq {
  display: flex;
  align-items: center;
}
