.container {
  max-width: 388px;
  margin: 30px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.title {
  margin-top: 16px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.description {
  font-size: 14px;
  margin-bottom: 24px;
  opacity: 0.7;
}

.form {
  margin-bottom: 24px;
}

.label {
  display: block;
  margin-bottom: 16px;
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.button {
  width: 100%;
  padding: 12px;
  background-color: #0095f6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.3;
}

.link {
  font-size: 12px;
  margin-top: 12px;
  margin-bottom: 12px;

  color: #385185;
  text-decoration: none;
}

.orContainer {
  margin-top: 20px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orLine {
  flex-grow: 1;
  height: 1px;
  background-color: #dbdbdb;
}

.orText {
  margin: 0 18px;
  color: #8e8e8e;
  font-size: 12px;
}

.imageBox {
  max-width: 96px; /* Breite des Bildes */
  max-height: 96px; /* Höhe des Bildes */
  object-fit: cover; /* Bild skalieren, um den Container zu füllen */
}
